// Kalam
@font-face {
    font-family: "Kalam";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Kalam-400.woff") format("woff"),
    url("../fonts/Kalam-400.woff2") format("woff2"),
    url("../fonts/Kalam-400.ttf") format("trutype");
}


// Gochi Hand
@font-face {
    font-family: "Gochi Hand";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/GochiHand-400.woff") format("woff"),
    url("../fonts/GochiHand-400.woff2") format("woff2"),
    url("../fonts/GochiHand-400.ttf") format("trutype");
}


// Architects Daughter
@font-face {
    font-family: "Architects Daughter";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ArchitectsDaughter-400.woff") format("woff"),
    url("../fonts/ArchitectsDaughter-400.woff2") format("woff2"),
    url("../fonts/ArchitectsDaughter-400.ttf") format("trutype");
}