@import "fonts";
@import "vars";

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #E3EEF1;
}

/*=========================================
	PRELOADER
=========================================*/

.awaiting {
	&:after {
		content: "";
		width: 100px;
		height: 100px;
		position: absolute;
		left: calc(50% - 50px);
		top: calc(50% - 50px);
		border-radius: 100%;
		border: 5px solid;
		border-color: transparent #6764B4 transparent #6764B4 ;
		animation: loading 1.5s linear infinite;
	}
}

@keyframes loading {
	100% {
		transform: rotate(360deg);
	}
}


/*=========================================
	FOR ALL BUTTONS
=========================================*/

button {
	border: none;
	outline: none;

	&:focus,
	&:active {
		border: none;
		outline: none;
	}
}

@import "parts/wrap_n_top-panel";

@import "parts/menu_n_styles";

@import "parts/weather-block";

@import "parts/weather-animation";
